<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="ModeloDBContainer" connectionString="metadata=res://*/ModeloDB.csdl|res://*/ModeloDB.ssdl|res://*/ModeloDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DTC15CT\SQLEXPRESS;initial catalog=BurritoDB;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="StreamedBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
					<readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
				</binding>
				<binding name="BindingLogin" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior"  name="Servicios.ImplementacionRegistrarUsuario">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="" contract="Servicios.IServicioRegistrarUsuario">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8084" />
						<add baseAddress="net.tcp://localhost:8083" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="mexBehavior"  name="Servicios.ImplementacionPersonalizarPerfil">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="StreamedBinding" contract="Servicios.IServicioPersonalizarPerfil">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8086" />
						<add baseAddress="net.tcp://localhost:8085" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="mexBehavior" name="Servicios.Implementaciones.ImplementacionLogin">
				<endpoint name="eLogin" address="Servicios.Interfaces" binding="netTcpBinding" bindingConfiguration="StreamedBinding" contract="Servicios.Interfaces.IServicioLogin">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8082" />
						<add baseAddress="net.tcp://localhost:8081" />
					</baseAddresses>
				</host>
			</service>
			<service behaviorConfiguration="mexBehavior" name="Servicios.Implementaciones.ImplementacionJuego">
				<endpoint address="Servicios.Interfaces" binding="netTcpBinding" bindingConfiguration="" contract="Servicios.Interfaces.IServicioJuego" />
				<endpoint address="Servicios.Interfaces" binding="netTcpBinding" bindingConfiguration="" contract="Servicios.Interfaces.IServicioChat" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8088" />
						<add baseAddress="net.tcp://localhost:8087" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
 