<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="StreamedBinding" transferMode="Streamed" maxBufferSize="104857600"
                    maxReceivedMessageSize="104857600">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="104857600"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                </binding>
                <binding name="eLogin">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioChat">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioRegistrarUsuario">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioPersonalizarPerfil" transferMode="Streamed">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8083/" binding="netTcpBinding"
                bindingConfiguration="StreamedBinding" contract="ServicioPersonalizarPerfil.IServicioPersonalizarPerfil"
                name="netTcpBinding_IServicioPersonalizarPerfil" />
            <endpoint address="net.tcp://localhost:8081/" binding="netTcpBinding"
                bindingConfiguration="" contract="ServicioRegistrarUsuario.IServicioRegistrarUsuario"
                name="netTcpBinding_IServicioRegistrarUsuario" />
            <endpoint address="net.tcp://localhost:8081/Servicios.Interfaces"
                binding="netTcpBinding" bindingConfiguration="eLogin" contract="ServicioLogin.IServicioLogin"
                name="eLogin">
                <identity>
                    <userPrincipalName value="TAKISZOMBI\luisp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8087/Servicios.Interfaces"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioChat"
                contract="ServicioChat.IServicioChat" name="NetTcpBinding_IServicioChat">
                <identity>
                    <userPrincipalName value="TAKISZOMBI\luisp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8083/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioRegistrarUsuario"
                contract="ServicioRegistrarUsuario.IServicioRegistrarUsuario"
                name="NetTcpBinding_IServicioRegistrarUsuario">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8085/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioPersonalizarPerfil"
                contract="ServicioPersonalizarPerfil.IServicioPersonalizarPerfil"
                name="NetTcpBinding_IServicioPersonalizarPerfil">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>