<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
				<binding name="StreamedBinding" transferMode="Streamed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647"
                        maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
					<security mode="None" />
				</binding>
                <binding name="NetTcpBinding_IServicioLogin" transferMode="Streamed">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioJuego">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioChat">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioRegistrarUsuario">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioPersonalizarPerfil" transferMode="Streamed">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioCambiarContrasenia">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioSolicitudes">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioAmigos" transferMode="Streamed">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8083/Juego" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioJuego" contract="ServiciosJuego.IServicioJuego"
                name="NetTcpBinding_IServicioJuego">
                <identity>
                    <userPrincipalName value="TAKISZOMBI\luisp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8083/Chat" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioChat" contract="ServiciosJuego.IServicioChat"
                name="NetTcpBinding_IServicioChat" />
            <endpoint address="net.tcp://localhost:8081/RegistarUsuario"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioRegistrarUsuario"
                contract="ServiciosGestionUsuarios.IServicioRegistrarUsuario"
                name="NetTcpBinding_IServicioRegistrarUsuario">
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/Login" binding="netTcpBinding"
                bindingConfiguration="StreamedBinding" contract="ServiciosGestionUsuarios.IServicioLogin"
                name="NetTcpBinding_IServicioLogin" />
            <endpoint address="net.tcp://localhost:8081/PersonalizarPerfil"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioPersonalizarPerfil"
                contract="ServiciosGestionUsuarios.IServicioPersonalizarPerfil"
                name="NetTcpBinding_IServicioPersonalizarPerfil" />
            <endpoint address="net.tcp://localhost:8081/CambiarContrasenia"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioCambiarContrasenia"
                contract="ServiciosGestionUsuarios.IServicioCambiarContrasenia"
                name="NetTcpBinding_IServicioCambiarContrasenia" />
            <endpoint address="net.tcp://localhost:8081/Solicitudes" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioSolicitudes"
                contract="ServiciosGestionUsuarios.IServicioSolicitudes" name="NetTcpBinding_IServicioSolicitudes" />
            <endpoint address="net.tcp://localhost:8081/Amigos" binding="netTcpBinding"
                bindingConfiguration="StreamedBinding" contract="ServiciosGestionUsuarios.IServicioAmigos"
                name="NetTcpBinding_IServicioAmigos" />
        </client>
    </system.serviceModel>
</configuration>