<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
				<binding name="StreamedBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
					<readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
				</binding>
                <binding name="eLogin" transferMode="Streamed">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioChat">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioRegistrarUsuario">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioPersonalizarPerfil" transferMode="Streamed">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8087/Servicios.Interfaces"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioChat"
                contract="ServicioChat.IServicioChat" name="NetTcpBinding_IServicioChat">
                <identity>
                    <userPrincipalName value="TAKISZOMBI\luisp" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8083/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioRegistrarUsuario"
                contract="ServicioRegistrarUsuario.IServicioRegistrarUsuario"
                name="NetTcpBinding_IServicioRegistrarUsuario">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8085/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioPersonalizarPerfil"
                contract="ServicioPersonalizarPerfil.IServicioPersonalizarPerfil"
                name="NetTcpBinding_IServicioPersonalizarPerfil">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8081/Servicios.Interfaces"
                binding="netTcpBinding" bindingConfiguration="eLogin" contract="ServicioLogin.IServicioLogin"
                name="eLogin">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>